body {
  background-image: linear-gradient(to top, white, #b30dd9);
  font-size: 19px;
  
}

fieldset {
  box-shadow: 20px 12px 15px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-bottom: 5%;   /* Espaçou cada fieldset assim pude tirar os <br> do HTML*/
  margin-right: 5%;  /* Puxou a margem para perto dos textos */
  
}

header {
  width: 60%;
  height: 120px;
  display: flex;
  justify-content: space-around;
  box-shadow: 10px 8px 12px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  border-style: solid;
  padding: 0px;
  margin-left: 400px;  /* Coloquei o header no meio da página */
  margin-bottom: 40px;
  background-color: aliceblue;
  
}


nav {
  display: flex;
  align-items: center; /* Deixou os itens no meio do Header */
  gap: 25px;           /* Deixou os itens (whats,insta e Menu) separados no Header */
  

}

#Logo {
  display: flex;
  width: 100px;
  padding: 10px;
  justify-content: flex-start;
}

/* Conteúdo da página: as perguntas*/
.blocos {
  display: flex;
  justify-content: center;  /* Deixou as perguntas no meio da página*/
 
 
}

input{
  margin: 4px;  /* Serviu para tirar o br do html e assim pude distanciar as frases */
  flex-direction: column;
  display: flex;
  
}